# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/../../../../../../:\Users\filip\IdeaProjects\JavaDeep\.idea/dataSources/
target
/target
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
